//
   Created by dtysky on 16/10/6.

doctype html
html(lang="zh-CN")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
        meta(property="fs:webmaster", content="fB13uuNNHbmPPXxy")
        meta(name="google-site-verification", content="gxqVWk52ajnh9oLhxju0hoVBGVJUuR_NeUDHcZ9DPv8")
        meta(name="baidu-site-verification", content="LDjaGJbVa7")
        meta(name="msvalidate.01", content="EBCCD04141A31E93EFE59B8EB1C3EE37")
        title #{title}
        meta(name="theme-color", content=color, data-react-helmet='true')
        meta(name="keywords", content=keywords, data-react-helmet='true')
        meta(name="description", content=description, data-react-helmet='true')
        meta(name="author", content=author, data-react-helmet='true')
        link(
            href=rss
            rel="alternate"
            title=title
            type="application/rss+xml",
            data-react-helmet='true'
        )
        link(rel="shortcut icon", type="image/png", href=logo)
        link(rel="stylesheet", href="/assets/main.css")
        <!--[if lt IE 10]>
        style.
            .duration-main {
                -ms-transition: none;
                transition: none;
            }
        <![endif]-->
        script window._initState_=!{initState}


    body
        div#container
            div.full!= markup
        script(type="text/javascript", src="/assets/main.bundle.js")
